* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center; 
    background-color: var(--waterFilter);
}
  
:root {
    /* Colors */
    --shelfD: #443E36;
    --shelfL: #93724D;
    --paper: #ecf4fa;
    --paperShadow: #C5D1DB;
    --waterFilter: #4B86B3;
    --redBook: #A35E68;
    --redBookBind: #61393f;
    --bookmark: #F88DCC;

    --bookCover: #A35E68;
    --bookBind: #61393f;

    /* Light Beams */
    --teal1: #AFE0E4;
    --teal2: #C0E6E9;
    --teal3: #84CDD4;
    --teal4: #7EC9D1;
    --teal5: #97D6DC;
    --teal6: #AEDEE2;
    --teal7: #96D3D8;
    --teal8: #9CD7DD;
    --teal9: #7ECBD3;
    --teal10: #AFE0E4;
    --teal11: #B6DFE3;
    --teal12: #84CDD4;  
    
    /* Tille Colors */
    --brown: #503A3D;
    --gold: #FFD642;
}

#load{
    display: block;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 100%;
    background-color: #355e7d;
}

/* Waves */
#waves{
    background-color: transparent;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 10%;
    right: 0px;
    overflow: hidden;
}
#sky{
    background: linear-gradient(0deg,rgba(248, 254, 252, 1) 0%, rgba(191, 223, 248, 1) 8%, rgba(60, 107, 175, 1) 100%);    height: 20%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0px;
    bottom: 10%;
    overflow: hidden;
}
#lightBeams{
    background-color: transparent;
    height: 50px;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1px;
    transform: translate(0,0);
    z-index: -1;
}
.lights{
    background-color: transparent;
    transform: rotate(20deg);
    height: 100px;
    /* background-color: var(--teal1); */
	display: inline-block;
	animation-name: blinkRay;
	animation-duration: random(4) + s;
	animation-delay: random(4) + s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	opacity: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
/*Rays of sunlight*/
.ray{
    height: 400%;
    position: relative;
}
.r1{width: 20px; background: linear-gradient(to bottom, var(--teal1) 0%, var(--teal2) 40%, rgba(255, 255, 255,0) 100%);}
.r2{ width: 20px; background: linear-gradient(to bottom, var(--teal3) 0%, var(--teal4) 30%, rgba(255, 255, 255,0) 100%); }
.r3{ width: 15px; background: linear-gradient(to bottom, var(--teal5) 0%, var(--teal6) 20%, rgba(255, 255, 255,0) 100%); }
.r4{ width: 5px; background: linear-gradient(to bottom, var(--teal7) 0%, var(--teal8) 10%, rgba(255, 255, 255,0) 100%); }
.r5{ width: 10px; background: linear-gradient(to bottom, var(--teal9) 0%, var(--teal10) 40%, rgba(255, 255, 255,0) 100%); }
.r6{ width: 10px; background: linear-gradient(to bottom, var(--teal5) 0%, var(--teal8) 30%, rgba(255, 255, 255,0) 100%); }
.r7{ width: 10px; background: linear-gradient(to bottom, var(--teal9) 0%, var(--teal10) 20%, rgba(255, 255, 255,0) 100%); }
.r8{ width: 5px; background: linear-gradient(to bottom, var(--teal5) 0%, var(--teal8) 40%, rgba(255, 255, 255,0) 100%); }
.r9{ width: 25px; background: linear-gradient(to bottom, var(--teal9) 0%, var(--teal10) 60%, rgba(255, 255, 255,0) 100%); }
.r10{ width: 10px; background: linear-gradient(to bottom, var(--teal5) 0%, var(--teal8) 50%, rgba(255, 255, 255,0) 100%); }




/* Bookshelf */
body{
    margin: 15%;
    background-color: var(--shelfD);
    margin-top: 20%;
}
#BookCase{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1px 1fr 1px 1fr 1px;
    margin: auto;
    margin-top: 5%;
    background-color: var(--shelfD);
}
#bookShelf1{
    height: 20px;
    width: 100%;
    background: var(--shelfD);
    background: linear-gradient(0deg, var(--shelfD) 0%, var(--shelfL) 100%);
    display: flex;
    margin: auto;
}
#bookShelf2{
    width: 20px;
    background-color: var(--shelfL);
    display: flex;
    float: left;
    background: var(--shelfD);
    background: linear-gradient(270deg, var(--shelfD) 0%, var(--shelfL) 100%);
}
#bookShelf3{
    width: 20px;
    background-color: var(--shelfL);
    display: flex;
    float: right;
    background: var(--shelfD);
    background: linear-gradient(90deg, var(--shelfD) 0%, var(--shelfL) 100%);
}
#bookShelf4{
    height: 20px;
    background: var(--shelfD);
    background: linear-gradient(180deg, var(--shelfD) 0%, var(--shelfL) 100%);
    margin: auto;
}
.shelf {
    height: 7000%;
    background: var(--shelfD);
    background: linear-gradient(0deg, var(--shelfL) 0%, var(--shelfD) 100%);
    grid-column: span 4;
    position: relative;
    z-index: 1;
    transform: translate(0,-40%);
}
#takeTwo{
    height: 10px;
    grid-column-start: 1;
}

/* Sorting books in a row */
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 0px;
    margin: 5% 5% 0 5%;
    background-color: transparent;
    column-gap: 5%;
}
/* .book2{
    margin-left: -1%;
}
.book3{
    margin-left: -4%;
}
.book4 {
    margin-left: -7%;
} */
/* .lastCovers {
    width: 87%;
    height: 100%;
    background-color: var(--bookCover);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 4;
}
#lastCover1 {
    margin: auto -11% auto auto;
}
#lastCover2 {
    margin: auto -13% auto auto;
} */

/* Book Covers */
.onShelfDrawing{
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1px;
}

.bookCoverBack{
    height: 33%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    transform: translate(4.7%, -4.2%);
    z-index: 2;
    width: 13%;
}
.shelfBind{
    height: 35.5%;
    background-color: var(--paper);
    position: absolute;
    transform: translate(.2%, -93%);
    z-index: 3;
}
.paperRight{
    height: 33.5%;
    background-color: var(--paper);
    position: absolute;
    z-index: 3;
    transform: translate(1%, -1%);
}
.shelfBindTri{
    clip-path: polygon(8.5% 17%,0% 15%,3.5% 11.2%,5.5% 15%);
    position: absolute;
    transform: translate(-50%, -74.1%);
    z-index: 1;
    scale: .5;
}
.bookCover{
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
    z-index: 4;
}
.title {
    grid-row-start: 2;
    z-index: 6;
    width: 75%;
    margin: auto;
    /* margin-top: -300%; */
    background-color: transparent;
}
.blankBook{
    background-color: transparent;
    position: relative;
    z-index: 4;
    width: 50%;
    grid-row-start: 2;
}

#bitsySub {
    background-color: #CEC06C;
    position: absolute;
    border-radius: 10px;
    z-index: 5;
    transform: translate(12%,10%);
    height: 32%;
    width: 10%;    
    margin: auto;
}
#bitsyT {
    font-family: "Victor Mono", monospace;
    line-height: 2;
}
.bitsyItalic {
    font-family: "Victor Mono", monospace;
    line-height: 2;
    font-style: italic;
    background-color: transparent;
    margin-top: 45%;
}
#bitsyImg{
    position: absolute;
    z-index: 5;
    transform: translate(50%, 60%);
    background-color: transparent;
}
#imgOutline {
    position: absolute;
    z-index: 5;
    transform: translate(35%, 53.5%);
    border-radius: 10px;
    background-color: #8B3636;
}
#twineBorder{
    border-style: solid;
    border-color: #E6A31E;
    border-width: 2%;
    border-radius: 25px;
    position: absolute;
    z-index: 5;
    transform: translate(6%,0%);
    background-color: transparent;
}
#twineTitle{
    color: white;
    font-family: "Galdeano", sans-serif;
}
#aboutTitle{
    color: rgb(0, 0, 0);
    font-family: "Coming Soon", sans-serif;
}
#twineImg{
    position: absolute;
    z-index: 5;
    transform: translate(21%, 21%);
    background-color: transparent;
    width: 9%;
}
#kingImg{
    position: absolute;
    z-index: 5;
    transform: translate(0%, -10%);
    background-color: transparent;
    width: 13%;
}
#kingCover{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: absolute;
    z-index: 4;
    background-image: conic-gradient(rgb(107, 68, 1) 0deg, rgb(107, 68, 1) 90deg, rgb(106, 4, 0) 90deg, rgb(106, 4, 0) 180deg, rgb(15, 88, 0) 180deg, rgb(15, 88, 0) 270deg, rgb(0, 96, 105) 270deg, rgb(0, 96, 105) 360deg);
}
#sfxT{
    font-family: "IBM Plex Sans", sans-serif;
    color: #eae9e7;
}
#sfxImg{
    position: absolute;
    z-index: 5;
    background-color: transparent;
    width: 10px;
    height: 10px;
    margin-top: 5%;
}
.questT{
    font-family: Bahnschrift, sans-serif;
    color: #DEA9FF;
    background: #363849;
    background: radial-gradient(circle, rgba(54, 56, 73, 1) 0%, rgba(64, 67, 89, 1) 100%);
    padding: 5% 2% 5% 2%;
    border-radius: 25px;

}
.questTop{
    transform: translate(.2%, -97%);
}
.questCoverL{
    background: linear-gradient(90deg, #FFEDC4 0%, #F1FEC6 33%, #F1FEC6 66%, #CCEFE4 100%);
    border-style: solid;
    border-color: #DEA9FF;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 5px;
}
.questCoverR{
    background: linear-gradient(90deg, #CCEFE4 0%, #F1FEC6 33%, #F1FEC6 66%, #FFEDC4 100%);
    border-style: solid;
    border-color: #DEA9FF;
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 5px;
}
.questTri{
    background-color: transparent;
}
#ft2{
    color: #EEEEEE;
    font-family: "Eagle Lake", serif;
    width: 45%;
}
#tilleCover {
    position: absolute;
    z-index: 5;
    transform: translate(5%,0);
    background-color: transparent;
}
.verLinesL{
    display: flex;
    float: left;
    background: linear-gradient(0deg, var(--gold) 11.1%, var(--brown) 11.1%, var(--brown) 88.7%, var(--gold) 88.7%);
}
.verLinesR{
    display: flex;
    float: right;
    background: linear-gradient(0deg, var(--gold) 11.1%, var(--brown) 11.1%, var(--brown) 88.7%, var(--gold) 88.7%);
}
.lilGapV{
    display: flex;
    float: left;
    width: 20px;
    height: 20px;
    background-color: transparent;
}
.lilGapVR{
    display: flex;
    float: right;
    width: 20px;
    height: 20px;
    background-color: transparent;
}
#bigGap{
    background-color: transparent;
}
.lilGap{
    background-color: transparent;
}
#circleFrame{
    background-color: var(--brown);
    display: flex;
    float: left;
    border-radius: 100%;
    transform: translate(32px, 5px);
    position: absolute;
    z-index: 5;
}
#circleGold{
    background: radial-gradient(ellipse, var(--gold) 68%, rgba(153, 128, 40, 1) 71%);
    display: flex;
    float: left;
    border-radius: 100%;
    transform: translate(29px, 0px);
    position: absolute;
    z-index: 4;
}
.blurThis{
    filter: blur(10px);
}
#sfxFile{
    grid-column-start: 2;
    grid-row-start: 3;
    margin-bottom: 20%;
    background-color: transparent;
}
#aboutIcon{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    margin: auto auto auto 1.5%;
    padding-top: 5%;
    scale: 80%;
}
#aboutIconPerson{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    margin: auto auto auto 1.5%;
    padding-top: 6%;
    scale: 55%;
}
#socials{
    grid-column-start: 2;
    grid-row-start: 4;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: 100%;
    width: 100%;
    background-color: transparent;
}
#socials img {
    background-color: transparent;
    width: 50%;
    transition: scale 1s;
}
#socials a {
    background-color: transparent;
}
.card{
    margin: auto;
    /* height: 10%; */
}
.cardText{
    position: relative;
    display: flex;
}
#playableSign{
    z-index: 6;
    position: absolute;
    background-color: white;
    margin: auto;
    filter: drop-shadow(4px 2px 10px black);
    transform: translate(-10%,-25%) skew(-5deg);;
}
.backOfCard{
    z-index: 5;
    position: absolute;
    background-color: white;
    margin: auto;
    transform: translate(8%,-28%) skew(5deg);
} 
#playableSign p {
    padding: 10%;
    font-size: 150%;
    background-color: transparent;
}
#playableSign img {
    margin-top: 10%;
    scale: 400%;
    background-color: transparent;
}


/* Book Interior */
.insideCover{
    display: none;
    position: absolute;
    background-color: transparent;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
.insideCoverLeft{
    position: absolute;
    height: 100%;
    width: 49%;
    left: 51%;
    transform: translate(-0%, 0%);
    background-color: var(--redBook);
    z-index: -1;
    border-radius: 25px;
}
.insideCoverRight{
    position: absolute;
    height: 100%;
    width: 49%;
    left: 49%;
    transform: translate(-100%, 0%);
    background-color: var(--redBook);
    z-index: -1;
    border-radius: 25px;
}
.bind{
    position: absolute;
    height: 102%;
    width: 5%;
    left: 50%;
    transform: translate(-50%, -1%);
    background-color: var(--redBookBind);
    z-index: -1;
    border-radius: 10px;
}
.innerBind{
    position: absolute;
    height: 88%;
    width: .1%;
    left: 50%;
    transform: translate(-50%, 7%);
    background-color: #A7AFB5;
    z-index: 0;
    border-radius: 10px;
}
.bookmarker{
    width: 5%;
    height: 8%;
    background-color: var(--bookmark);
    position: absolute;
    left: 5%;
    transform: translate(-5%, 62%);
    z-index: 15;
    transition: all 0.5s ease;
}
.bookmarker:hover {
    width: 5.2%;
    height: 8.2%;
    filter: drop-shadow(0px 3px 3px #000000);
    transform: translate(-5%, 59%);
}
.return{
    background-color: #5A0F3B;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-55%, -5%);
    clip-path: polygon(75% 25%, 25% 50%, 75% 75%);
    z-index: 5;
}
.leftTri{
    background-color: var(--bookmark);
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(-101%, 199%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.rightTri{
    background-color: var(--bookmark);
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(0%, 200%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.pagesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 90% 5%;
    background-color: transparent;
    height: 100%;
    overflow: hidden;
}
.page{
    background-color: var(--paper);
    height: 95%;
    grid-row-start: 2;
}
.pg1{
    margin: auto 0 auto 5%;
    background: #D9E5EF;
    background: linear-gradient(90deg, var(--paper) 80%, var(--paperShadow) 100%);
    display: grid;
    width: 95%;
    height: 100%;
    grid-template-columns: minmax(10px, 5%) minmax(10px, 90%) minmax(10px, 5%);
    grid-template-rows: minmax(10px, 10%) minmax(10px, 41%) minmax(10px, 3%) minmax(10px, 41%) minmax(10px, 5%);
}
.desc{
    background-color: transparent;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    grid-row-start: 2;
    grid-column-start: 2;
}
#siteExplain{
    grid-column-start: 2;
    grid-row-start: 5;
    width: 100%;
        background-color: transparent;
}
#whoIAm{
    grid-column-start: 2;
    grid-row-start: 2;
}
h2{
    background-color: transparent;
    /* height: 100%; */
    width: 100%;
    margin: auto;
    display: flex;
    padding: 2.5%;
    grid-row-start: 2;
    grid-column-start: 2;
}
#aboutMeGrid{
    margin: auto 0 auto 5%;
    display: grid;
    grid-template-columns: minmax(10px, 5%) minmax(10px, 90%) minmax(10px, 5%);
    grid-template-rows: minmax(10px, 10%) minmax(10px, 41%) minmax(10px, 5%) minmax(10px, 5%) minmax(10px, 41%) minmax(10px, 5%);
}
.skills{
    background-color: transparent;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    line-height: 1.5;
}
.pg2{
    margin: auto 5% auto 0;
    background: #D9E5EF;
    background: linear-gradient(270deg, var(--paper) 80%, var(--paperShadow) 100%);
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(10px, 5%) minmax(10px, 90%) minmax(10px, 5%);
    grid-template-rows: 5% 1fr 4fr 5%;
}
.game{
    background-color: transparent;
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 3;
}
h3{
    background-color: transparent;
    margin: auto;
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
}
#goneText{
    background-color: transparent;
    margin: auto;
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
}
img {
    display: block;
    width: 10%;
    object-fit: cover;
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 2;
}
#pageBlur{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    background-color: #355e7d;
}
#loadScreen{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 75%;
    background-color: #355e7d;
}
.stickynote{
    display: grid;
    grid-template-rows: 2% 1fr 2fr 2%;
    grid-template-columns: 2% 1fr 2%;
    background-color: rgb(133, 187, 133);
    margin: auto;
    padding: 2.5%;
    filter: drop-shadow(1px 3px 2px black);
    grid-row-start: 4;
    grid-column-start: 2;
}
.skills{
    height: 100%;
    display: flex;
    padding: 2.5%;
    grid-column-start: 2;
    grid-row-start: 3;
}
.pdf{
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 3;
    width: 100%;
    height: 80%;
}
#myFace{
    margin: auto;
    grid-column-start: 2;
    grid-row-start: 3;
    height: 75%;
    width: 70%;
}
#thisSite{
    height: 5%; 
    grid-column-start: 2;
    grid-row-start: 4;
}
.adjust {
  font-size-adjust: 0.444;
}
#goneText h3{
    font-family: "Victor Mono", monospace;
}
#antiText h3{
    font-family: "Galdeano", sans-serif;
}
#aboutText{
    margin: auto 5% auto 0;
    background: #D9E5EF;
    background: linear-gradient(270deg, var(--paper) 80%, var(--paperShadow) 100%);
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(10px, 5%) minmax(10px, 90%) minmax(10px, 5%);
    grid-template-rows: minmax(10px, 5%) minmax(10px, 10%) minmax(10px, 75%) minmax(10px, 10%) minmax(10px, 10%);
}
#aboutText h3{
    font-family: "Coming Soon", sans-serif;
}
#socials img:hover{
    scale: 1.5;
}
